<button
  (click)="showDialog()"
  class="flex h-full w-80 flex-col items-center justify-center gap-2 rounded-xl border-4 border-dotted border-gray-300"
>
  <span class="pi pi-plus !text-4xl !text-gray-400"></span>
  <p>Create New List</p>
</button>

<p-dialog header="Create New List" [modal]="true" [(visible)]="visible">
  <form [formGroup]="formGroup" class="flex min-w-64 flex-col gap-4">
    <div class="flex flex-col gap-2">
      <label for="list-title" class="font-semibold">Title</label>
      <input
        pInputText
        type="text"
        id="list-title"
        aria-describedby="list-title-help"
        formControlName="title"
        class="{{ formGroup.invalid ? 'ng-invalid ng-dirty' : '' }}"
      />
      <small id="list-title-help"> List title is required </small>
    </div>

    <div class="flex flex-col gap-2">
      <label for="list-description" class="font-semibold">Description</label>
      <input
        pInputText
        type="text"
        id="list-description"
        formControlName="description"
      />
    </div>
  </form>

  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" (click)="cancel()" />
      <p-button
        label="Save"
        [disabled]="formGroup.invalid"
        (click)="submit()"
      />
    </div>
  </ng-template>
</p-dialog>
