<div class="flex h-full flex-col rounded-none">
  <p-menubar styleClass="!border-0 !border-b !rounded-none">
    <ng-template pTemplate="start">
      <!-- also icon -->
      <p class="text-xl font-bold">AngryTask</p>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex items-center gap-2">
        <p-button
          severity="secondary"
          outlined
          icon="pi pi-palette"
          (onClick)="changePalette()"
        ></p-button>
        <p-button
          severity="secondary"
          outlined
          icon="pi pi-moon"
          (onClick)="changeThemeMode()"
        ></p-button>
        <p-button severity="secondary" outlined icon="pi pi-cog"></p-button>
        <p-avatar icon="pi pi-user" styleClass="mr-2" />
      </div>
    </ng-template>
  </p-menubar>

  <!-- Render Children Elements -->
  <div class="flex-grow">
    <ng-content></ng-content>
  </div>
</div>
