<div id="dashboard" class="flex h-screen flex-col">
  <p-menubar styleClass="!border-0 !border-b  !rounded-none">
    <ng-template pTemplate="start">
      <!-- also icon -->
      <p class="text-xl font-bold">Angry Task</p>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex items-center gap-2">
        <!-- <p-button severity="secondary" outlined icon="pi pi-palette"></p-button> -->
        <p-button
          (onClick)="toggleTheme()"
          severity="secondary"
          outlined
          [icon]="this.toggleThemeIcon"
        ></p-button>
        <!-- <p-button severity="secondary" outlined icon="pi pi-cog"></p-button> -->
        <!-- <p-avatar icon="pi pi-user" styleClass="mr-2" /> -->
      </div>
    </ng-template>
  </p-menubar>

  <!-- Render Children Elements -->
  <div class="h-3/4 flex-grow">
    <router-outlet />
  </div>
</div>
