@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  inline-size: 100vw;
  block-size: 100vh;

  position: relative;

  --p-panel-header-padding: 0;
  --p-panel-toggleable-header-padding: 0;
}

/* change the card component style to fix overflow styles */
.p-card-body {
  height: 100%;
}

.p-card-content {
  height: 10rem;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

app-root {
  inline-size: 100%;
  block-size: 100%;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

::-webkit-scrollbar-track {
  border-radius: 1rem;
  background-color: #eee;
  margin: 0.25rem;
}

.dark ::-webkit-scrollbar-track {
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #ccc;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #222;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #111;
}
